<!--[if IE 7]>
<html class="ie ie7 no-js" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8 no-js" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<!-- Basic need -->
	<title>Open Pediatrics</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#">
	<!--Google Font-->
	<link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no">
	<!-- CSS files 	-->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	{% block style %}{% endblock style %}
</head>

<body style="background-color:#020d18;">

{% block navigation %}
<!-- BEGIN | Header -->
<header class="ht-header">
	<div class="container">
		<nav class="navbar navbar-default navbar-custom">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header logo">
				<div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<div id="nav-icon1">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
				<a href="/"><img class="logo" src="{{ url_for('static', filename='images/logo1.png') }}" alt="" width="119" height="58"></a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav flex-child-menu menu-left">
					<li class="hidden">
						<a href="#page-top"></a>
					</li>
				</ul>
				<ul class="nav navbar-nav flex-child-menu menu-right">
					<li><a class="nav-link" href="/theater">影城介紹</a></li>
					<li><a class="nav-link" href="/movies">電影介紹</a></li>
					<li><a class="nav-link" href="/member_service">會員專區</a></li>
					{% if current_user.is_authenticated %}
						<li class="nav-item"><a class="nav-link" href="{{ url_for('logout', next=request.url) }}">登出</a></li>
					{% else %}
						<li class="nav-item"><a class="nav-link" href="{{ url_for('login', next=request.url) }}">登入</a></li>
						<li class="nav-item"><a class="nav-link" href="/register">註冊</a></li>
					{% endif %}
				</ul>
			</div>
		<!-- /.navbar-collapse -->
		</nav>
		{% block member %}{% endblock member %}
	<!-- top search form -->
	</div>
</header>
<!-- END | Header -->
{% endblock navigation %} 

<body id="page-top">
    <!-- Page Content-->
    {% block content %}{% endblock content %}

    {% block footer %}
        <!-- Footer-->
        <footer class="ht-footer">
            <div class="container">
                <div class="flex-parent-ft">
                    <div class="flex-child-ft item1">
                    </div>
                    <div class="flex-child-ft item2">
                    </div>
                    <div class="flex-child-ft item3">
                    </div>
                    <div class="flex-child-ft item4">
                    </div>
                    <div class="flex-child-ft item5">
                    </div>
                </div>
            </div>
            <div class="ft-copyright">
                <div class="ft-left">
                    <p><a target="_blank">Veishow</a></p>
                </div>
                <div class="backtotop">
                    <p><a href="#" id="back-to-top">Back to top  <i class="ion-ios-arrow-thin-up"></i></a></p>
                </div>
            </div>
        </footer>
        <!--End of Footer-->
    {% endblock footer %}
</body>

{% block script %}
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins2.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
{% endblock script %}

</html>