<!-- templates/index.html -->
{% extends "base.html" %}

{% block style %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/plugins.css') }}">
    <style>
        .seattable{
            border:5px solid #020d18;
            background-color: #7c99b6;
            text-align: center;
            color: #f1f1f1;
        }
        .seattable.selected {
            border:5px solid #020d18;
            background-color: #233a50;
            text-align: center;
            color: #f1f1f1;
        }
        .unavailable {
            background-color: red;
            border:5px solid #020d18;
            text-align: center;
            color: #f1f1f1;
        }
        .seattable :active{
            color: #000;
        }
        #soldout{
            background-color: red;
            border:5px solid #020d18;
            text-align: center;
        }
        #vacancy{
            background-color: #7c99b6;
            border:5px solid #020d18;
            text-align: center;
        }
        #yourchoice{
            background-color: #233a50;
            border:5px solid #020d18;
            text-align: center;
        }
        .linkbutton {
            border:5px solid #020d18;
        }
        .linkbutton button {
            background-color: #233a50;
            width: 100px;
            height: 50px;
        }
        .linkbutton a{
            font-size: 20px;
            color: #f1f1f1;
        }
        </style>
{% endblock style %}

{% block navigation %}
    {{ super() }}
{% endblock navigation %}

{% block content %}
	<!-- END | Header -->
	<div class="hero user-hero" style="height: auto;">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="hero-ct">
						<div style="display: block; float: inline-start;">
							<h1 style="color: #f1f1f1;">({{ info[7] }}){{ info[1] }}</h1>
							<h2 style="color: #f1f1f1;">{{ movie_eng_name[0] }}</h2>
						</div>
						<div style="display: block; float: right; color: #ddd; ">
							<ul>
								<li>{{ info[5] }} {{ info[6] }}</li>
								<li>{{ info[3] }}</li>
								<li>{{ info[4] }}</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<form action="/check_order" method="post">
    <input type="hidden" name="session_id" value="{{ session_id }}">
    <input type="hidden" name="ticket_type" value="{{ ticket_type }}">
    <input type="hidden" name="ticket_count" value="{{ ticket_count }}">
    <input type="hidden" name="large_popcorn" value="{{ meals['large_popcorn'] }}">
    <input type="hidden" name="medium_popcorn" value="{{ meals['medium_popcorn'] }}">
    <input type="hidden" name="small_popcorn" value="{{ meals['small_popcorn'] }}">
    <input type="hidden" name="large_drink" value="{{ meals['large_drink'] }}">
    <input type="hidden" name="medium_drink" value="{{ meals['medium_drink'] }}">
    <input type="hidden" name="small_drink" value="{{ meals['small_drink'] }}">
	<div class="container">
		<div>
			<div>
				<div style="display: block; margin: 0 auto; width: 50%; position: relative;">
                    <div style="text-align:center; background-color:#7c99b6;">
                        <h1>螢幕位置</h1>
                    </div>
                    <table style="border-collapse:collapse; width: 100%; margin: 0 auto;">
                        <tbody>
                            {% for row in rows %}
                            <tr class="line{{ row }}">
                                {% for column in columns %}
                                {% if (row + '-' + column,) in empty_seats %}
                                <td id="{{ row }}-{{ column }}" class="seattable">{{ row }}-{{ column }}</td>
                                {% else %}
                                <td id="{{ row }}-{{ column }}" class="unavailable">{{ row }}-{{ column }}</td>
                                {% endif %}
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
				</div>
                <table style="width: 25%; margin: 25px 10% ">
                    <tbody>
                        <tr style="color: #f1f1f1;">
                            <td id="soldout">售出</td>
                            <td id="vacancy">空位</td>
                            <td id="yourchoice">你的選擇</td>
                            <div style="color:red;"> {{ errorMsg|safe }} </div>
                        </tr>
                    </tbody>
                </table>
			</div>
		</div>
	</div>
</div>
<div style="display: block;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-ct" style="color: #f1f1f1; display: block;float: right; width: 30%;">
                    <div>
                        <a style="color: #f1f1f1;">{{ ticket_info['name'] }}</a>
                        <span>NT${{ ticket_info['price'] }} <span>X<span>{{ ticket_count }}<span>張</span></span></span></span><br>
                        <a style="color: #f1f1f1;">手續費</a>
                        <span>NT$40</span>
                    </div>
                    <div style="display: block; float: right; color: #ddd; ">
                        <span>總計金額 NT$<span>{{ total_price }}</span></span>
                    </div>
                </div>
                <div>
                    <table class="linkbutton" style="width: 25%; margin: 0 50% ">
                        <tbody>
                            <tr style="color: #f1f1f1;">
                                <td class="linkbutton"><button type="button"><a href="javascript:;" onclick="history.back(-1);">上一步</a></button></td>
                                <td class="linkbutton"><button type="submit">下一步</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>
</div>
{% endblock content %}

{% block footer %}
	{{ super() }}
{% endblock footer %}

{% block script %}
	{{ super() }}
	<script>
        $( function() {
            $( "#accordion" ).accordion({
            collapsible: true
        });
        } );
    </script>
    <script>
        function changeClass() {
            // Get the selected option's value
            var seat = document.getElementById("seat-select").value;
            document.getElementById(seat).className = "unavailable";
        }
    </script>
    <script>
        const blocks = document.querySelectorAll('.seattable');
        let numSelected = 0;
        const maxSelected = {{ ticket_count }};
    
        for (const block of blocks) {
            const input = document.createElement('input');
            input.type = 'hidden';
            input.name = "seat_" + block.id;
            input.value = block.id;
    
            block.addEventListener('click', () => {
            if (block.classList.contains('selected')) {
                block.classList.remove('selected');
                input.remove();
                numSelected--;
            } else if (numSelected < maxSelected) {
                block.classList.add('selected');
                block.after(input);
                numSelected++;
            }
          });
        }
    </script>
    <!--<script >
        function go(){
            window.history.go(-1);
        }setTimeout("go()",3000);
    </script>-->
{% endblock script %}