<!-- templates/index.html -->
{% extends "base.html" %}

{% block navigation %}
    {{ super() }}
{% endblock navigation %}

{% block content %}
<div class="img_bar" style="display: block;">
	<img src="{{ url_for('static', filename = 'images/VScinemas.jpg') }}" >
	<div class="hero user-hero">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="hero-ct">
						<h1>台北信義威秀影城</h1>
						<h2>Vie Show Cinemas Taipei Hsin Yi</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div style="display: block;">
	<div class="Info">
		<a>台北信義威秀影城內有時髦前衛、聲光炫麗的裝潢，為全國第一座專門為放映電影而量身打造的建築設計，
		提供了由現成建築物改裝的傳統電影院無法擁有的舒適視聽空間。</a>
	</div>
	<div class="Info">
		<a>世界上最棒的影廳之一的4DX影廳，威秀影城2013年獨家引進，打造『台北信義威秀影城』全台首座4DX影廳，
		帶給您世界級的最新影音感官全體驗效果。</a>
	</div>
	<div class="Info">
		<a>為滿足觀眾視聽至高無上的享受，台北信義威秀影城應用最新科技，為未來影城之設計規劃建立新規範，
		也為台灣的電影院史上樹立新的里程碑。出自名室內設計師之手的17間影廳院，皆具備超大型廣角弧形銀幕及球場座位排列的座椅，
		提供威秀影城之觀眾寬敞舒適、無障礙的空間，為全台首座經過THX世界標準聲場環境認證的標準影廳，提供北台灣民眾世界級的影音享受。</a>
	</div>
	<div class="Info">
		<ul >
			<li>※本影城為方便消費者，亦設有無障礙空間。</li>
			<li>●輪椅席(共40個席次)：第1、3-11、14廳-各3席，第2、15-18廳-各2席</li>
			<li>●無障礙電梯：一樓服務台旁</li>
			<li>●無障礙坡道：二樓第12廳前</li>
			<li>●無障礙停車位：地下停車場二樓</li>
			<li>●無障礙廁所</li>
		</ul>
	</div>
	<div class="Info">
		<ul >
			<li>本據點共17座影廳2,693席座位、40席無障礙座位，內含：</li>
			<li>1座4DX影廳 140個座位</li>
		</ul>
	</div>
	<div class="Info">
		<img src="{{ url_for('static', filename = 'images/site.png') }}">
	</div>

	<a></a>
</div>
{% endblock content %}

{% block footer %}
	{{ super() }}
{% endblock footer %}

{% block script %}
	{{ super() }}
{% endblock script %}