<!-- templates/index.html -->
{% extends "base.html" %}

{% block navigation %}
    {{ super() }}
{% endblock navigation %}

{% block style %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/plugins.css') }}">
	<style>
		.tab {
		  overflow: hidden;
		  border: 1px  #ccc;
		  background-color: #020d18;
		}
		.tab button {
		  background-color: inherit;
		  float: left;
		  border: none;
		  outline: none;
		  cursor: pointer;
		  padding: 14px 16px;
		  transition: 0.3s;
		  font-size: 17px;
		}
		
		/* Change background color of buttons on hover */
		.tab button:hover {
		  background-color: #abb7c4;
		}
		
		/* Create an active/current tablink class */
		.tab button.active {
		  background-color: #233a50;
		}
		
		/* Style the tab content */
		.tabcontent {
		  display: none;
		  padding: 6px 12px;
		  -webkit-animation: fadeEffect 1s;
		  animation: fadeEffect 1s;
		}
		
		/* Fade in tabs */
		@-webkit-keyframes fadeEffect {
		  from {opacity: 0;}
		  to {opacity: 1;}
		}
		#accordion {
			color: #f1f1f1;
		}
	</style>
{% endblock style %}

{% block content %}
<div class="img_bar" style="display: block;">
	<img src="{{ url_for('static', filename = info['Cinema_image'][0]) }}" >
	<div class="hero user-hero">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="hero-ct">
						<h1>{{ info['studio_name'] }}</h1>
						<h1>{{ info['Cinema_englishname'][0] }}</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div style="display: block;">
	<div class="Info">
		<a>{{ info['studio_intro'][0] }}</a>
	</div>
	<div class="Info">
		<ul >
			<li>※本影城為方便消費者，亦設有無障礙空間。</li>
			<li>●輪椅席(共40個席次)：第1、3-11、14廳-各3席，第2、15-18廳-各2席</li>
			<li>●無障礙電梯：一樓服務台旁</li>
			<li>●無障礙坡道：二樓第12廳前</li>
			<li>●無障礙停車位：地下停車場二樓</li>
			<li>●無障礙廁所</li>
		</ul>
	</div>
	<div class="Info">
		<ul >
			<li>本據點共17座影廳2,693席座位、40席無障礙座位，內含：</li>
			<li>1座4DX影廳 140個座位</li>
		</ul>
	</div>
	<div class="Info">
		<img src="{{ url_for('static', filename = 'images/site.png') }}">
	</div>

	<a></a>
</div>
<div class="Info" >
	<div class="time_container">
		<div>
			<div>
				<div >
					<div>
						<h1>場次查詢</h1>
						<div class="tab">
							{% for date in dates %}
							<button class="tablinks" onclick="openCity(event, '{{ date[0] }}')">{{ date[0] }}</button>
							{% endfor %}
						</div>
						{% for date in dates %}
						{% if date == dates[0] %}
						<div id="{{ date[0] }}" class="tabcontent" style="display: block;">
						{% else %}
						<div id="{{ date[0] }}" class="tabcontent">
						{% endif %}
							{% for movie in movies %}
							<table>
								<thead>
									<h3>{{ movie[0] }}</h3>
									<a>{{ movie_eng_name[movie[0]] }}</a>
								</thead>
								<tbody>
									{% for version in versions %}
									{% if sessions[date][movie][version] %}
									<tr>
										<td>
											<a>{{ version[0] }}</a>
										</td>
									</tr>
									<tr>
										{% for time in sessions[date][movie][version] %}
										<td>
											<div>
												<form action="/order3" method="post">
													<button type="submit" name="session_id" value="{{ time[1] }}" class="btn-link">{{ time[0] }}</button>
												</form>
												<a href="/seat?ID={{ time[1] }}" target="_blank"><img src="{{ url_for('static', filename = 'images/seat.png') }}"></a>
											</div>
										</td>
										{% endfor %}
									</tr>
									{% endif %}
									{% endfor %}
								</tbody>
							</table>
							{% endfor %}
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</diV>
</div>
{% endblock content %}

{% block footer %}
	{{ super() }}
{% endblock footer %}

{% block script %}
	{{ super() }}
	<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
	<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
	<script>
		function openCity(evt, cityName) {
		  var i, tabcontent, tablinks;
		  tabcontent = document.getElementsByClassName("tabcontent");
		  for (i = 0; i < tabcontent.length; i++) {
			tabcontent[i].style.display = "none";
		  }
		  tablinks = document.getElementsByClassName("tablinks");
		  for (i = 0; i < tablinks.length; i++) {
			tablinks[i].className = tablinks[i].className.replace(" active", "");
		  }
		  document.getElementById(cityName).style.display = "block";
		  evt.currentTarget.className += " active";
		}
	</script>
{% endblock script %}