<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<!-- Basic need -->
	<title>Open Pediatrics</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#">
	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no">
	<!-- CSS files 	-->
	<link rel="stylesheet" href="css/style.css">
</head>

<body style="background-color:#020d18;">

<!-- BEGIN | Header -->
<!-- BEGIN | Header -->
<header class="ht-header">
	<div class="container">
		<nav class="navbar navbar-default navbar-custom">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header logo">
				<div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<div id="nav-icon1">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
				<a href="index.html"><img class="logo" src="images/logo1.png" alt="" width="119" height="58"></a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav flex-child-menu menu-left">
					<li class="hidden">
						<a href="#page-top"></a>
					</li>
				</ul>
				<ul class="nav navbar-nav flex-child-menu menu-right">
					<li><a href="theater.html">影城介紹</a></li>
					<li><a href="movies.html">電影介紹</a></li>
					<li><a href="member_service.html">會員專區</a></li>
					<li><a href="login.html">會員登入</a></li>
				</ul>
			</div>
		<!-- /.navbar-collapse -->
		</nav>
	<!-- top search form -->
	</div>
</header>
<!-- END | Header -->
<div class="img_bar" style="display: block;">
	<img src="images/VScinemas.jpg" >
	<div class="hero user-hero">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="hero-ct">
						<h1>台北信義威秀影城</h1>
						<h2>Vie Show Cinemas Taipei Hsin Yi</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div style="display: block;">
	<div class="Info">
		<a>台北信義威秀影城內有時髦前衛、聲光炫麗的裝潢，為全國第一座專門為放映電影而量身打造的建築設計，
		提供了由現成建築物改裝的傳統電影院無法擁有的舒適視聽空間。</a>
	</div>
	<div class="Info">
		<a>世界上最棒的影廳之一的4DX影廳，威秀影城2013年獨家引進，打造『台北信義威秀影城』全台首座4DX影廳，
		帶給您世界級的最新影音感官全體驗效果。</a>
	</div>
	<div class="Info">
		<a>為滿足觀眾視聽至高無上的享受，台北信義威秀影城應用最新科技，為未來影城之設計規劃建立新規範，
		也為台灣的電影院史上樹立新的里程碑。出自名室內設計師之手的17間影廳院，皆具備超大型廣角弧形銀幕及球場座位排列的座椅，
		提供威秀影城之觀眾寬敞舒適、無障礙的空間，為全台首座經過THX世界標準聲場環境認證的標準影廳，提供北台灣民眾世界級的影音享受。</a>
	</div>
	<div class="Info">
		<ul >
			<li>※本影城為方便消費者，亦設有無障礙空間。</li>
			<li>●輪椅席(共40個席次)：第1、3-11、14廳-各3席，第2、15-18廳-各2席</li>
			<li>●無障礙電梯：一樓服務台旁</li>
			<li>●無障礙坡道：二樓第12廳前</li>
			<li>●無障礙停車位：地下停車場二樓</li>
			<li>●無障礙廁所</li>
		</ul>
	</div>
	<div class="Info">
		<ul >
			<li>本據點共17座影廳2,693席座位、40席無障礙座位，內含：</li>
			<li>1座4DX影廳 140個座位</li>
		</ul>
	</div>
	<div class="Info">
		<img src="images/site.png">
	</div>

	<a></a>
</div>
<!-- footer section-->
<footer class="ht-footer">
	<div class="container">
		<div class="flex-parent-ft">
			<div class="flex-child-ft item1">
			</div>
			<div class="flex-child-ft item2">
			</div>
			<div class="flex-child-ft item3">
			</div>
			<div class="flex-child-ft item4">
			</div>
			<div class="flex-child-ft item5">
			</div>
		</div>
	</div>
	<div class="ft-copyright">
		<div class="ft-left">
			<p><a target="_blank">Veishow</a></p>
		</div>
		<div class="backtotop">
			<p><a href="#" id="back-to-top">Back to top  <i class="ion-ios-arrow-thin-up"></i></a></p>
		</div>
	</div>
</footer>
<!-- end of footer section-->
<script src="js/jquery.js"></script>
<script src="js/plugins.js"></script>
<script src="js/plugins2.js"></script>
<script src="js/custom.js"></script>
</body>

</html>

