<!-- templates/index.html -->
{% extends "base.html" %}

{% block navigation %}
    {{ super() }}
{% endblock navigation %}

{% block content %}
<div class="hero user-hero" >
	<div class="container">
		<div class="row" >
			<div class="col-md-12">
			</div>
		</div>
	</div>
</div>
<div class="page-single">
	<div class="container" style="display: block;">
		<div class="row ipad-width">
			<div class="col-md-9 col-sm-12 col-xs-12">
				<h1 style="text-align: center; color:aliceblue">{{ error }}</h1>
			</div>
		</div>
	</div>
</div>
{% endblock content %}

{% block footer %}
	{{ super() }}
{% endblock footer %}

{% block script %}
	{{ super() }}
{% endblock script %}