<!-- templates/index.html -->
{% extends "base.html" %}

{% block style %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/plugins.css') }}">
{% endblock style %}

{% block navigation %}
	<!--preloading-->
	<div id="preloader">
		<img class="logo" src="{{ url_for('static', filename='images/logo1.png') }}" alt="" width="119" height="58">
		<div id="status">
			<span></span>
			<span></span>
		</div>
	</div>
	<!--end of preloading-->
    {{ super() }}
{% endblock navigation %}

{% block member %}
<!-- top search form -->
<div class="top-search">
	<select name="" onchange="javascript:location.href=this.value;">
		<option><strong>請下拉點選您要的服務</strong></option>
		<option value="/profile">1. 查詢/修改會員資料</option>
		<option value="/forget_password">2. 忘記密碼</option>
		<option value="/ticket_record">3. 訂票紀錄</option>
	</select>
</div>
{% endblock member %}

{% block content %}
<div class="hero user-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">
					<h1>忘記密碼</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="page-single">
	<div class="container">
		<div class="row ipad-width">
			<div class="col-md-9 col-sm-12 col-xs-12">
				<div class="form-style-1 user-pro" action="#">
					<form action="/forget_password" class="user" method="post">
						<h4>重新設定您的網路會員帳號登入密碼</h4>
						<h4>您的密碼將會被重置為一個隨機字串，同時新密碼會被寄送至您的信箱帳號</h4>
						<div class="row">
							<div class="col-md-4">
								<input class="submit" type="submit" value="重置密碼">
							</div>
						</div>	
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}

{% block footer %}
	{{ super() }}
{% endblock footer %}

{% block script %}
	{{ super() }}
{% endblock script %}