<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<!-- Basic need -->
	<title>Open Pediatrics</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#">
	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no">
	<!-- CSS files 	-->
	<link rel="stylesheet" href="css/style.css">
</head>

<body style="background-color:#020d18;">

<!-- BEGIN | Header -->
<header class="ht-header">
	<div class="container">
		<nav class="navbar navbar-default navbar-custom">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header logo">
				<div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<div id="nav-icon1">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
				<a href="index.html"><img class="logo" src="images/logo1.png" alt="" width="119" height="58"></a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav flex-child-menu menu-left">
					<li class="hidden">
						<a href="#page-top"></a>
					</li>
				</ul>
				<ul class="nav navbar-nav flex-child-menu menu-right">
					<li><a href="theater.html">影城介紹</a></li>
					<li><a href="movies.html">電影介紹</a></li>
					<li><a href="member_service.html">會員專區</a></li>
					<li><a href="login.html">會員登入</a></li>
				</ul>
			</div>
		<!-- /.navbar-collapse -->
		</nav>
	<!-- top search form -->
	</div>
</header>
<!-- END | Header -->

<div class="hero user-hero" >
	<div class="container">
		<div class="row" >
			<div class="col-md-12">
			</div>
		</div>
	</div>
</div>
<div class="page-single">
	<div class="container" style="display: block; width: 50%; float: left;">
		<div class="row ipad-width" style="">
			<div class="col-md-9 col-sm-12 col-xs-12">
				<div class="form-style-1 user-pro" action="#">
						<h4>快速訂票</h4>
						<div class="row">
							<div class="col-md-6 form-it">
								<div class="top-search">
									<select>
										<option><strong>請選擇影城</strong></option>
										<option value="">台北信義威秀影城</option>
										<option value="">MUVIE CINEMAS台北松仁威秀</option>
										<option value="">MUVIE CINEMAS台北松仁威秀(MUCROWN)</option>
										<option value="">台北京站威秀影城</option>
										<option value="">板橋大遠百威秀影城</option>
										<option value="">中和環球威秀影城</option>
										<option value="">林口MITSUI OUTLET PARK威秀影城</option>
										<option value="">林口MITSUI OUTLET PARK威秀影城(Mappa)</option>
										<option value="">桃園統領威秀影城</option>
										<option value="">新竹大遠百威秀影城</option>
										<option value="">新竹大遠百威秀影城(Gold Class)</option>
										<option value="">新竹巨城威秀影城</option>
										<option value="">頭份尚順威秀影城</option>
										<option value="">台中大遠百威秀影城</option>
										<option value="">台中Tiger City威秀影城</option>
										<option value="">台中Tiger City威秀影城(Gold Class)</option>
										<option value="">台中大魯閣新時代威秀影城</option>
										<option value="">台南大遠百威秀影城</option>
										<option value="">台南FOCUS威秀影城</option>
										<option value="">台南南紡威秀影城</option>
										<option value="">台南南紡威秀影城(Gold Class)</option>
										<option value="">高雄大遠百威秀影城</option>
										<option value="">高雄大遠百威秀影城(Gold Class)</option>
										<option value="">花蓮新天堂樂園威秀影城</option>
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-it">
								<div class="top-search">
									<select>
										<option><strong>請選擇影片</strong></option>
										<option value=""></option>
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-it">
								<div class="top-search">
									<select>
										<option><strong>請選擇日期</strong></option>
										<option value=""></option>
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-it">
								<div class="top-search">
									<select>
										<option><strong>請選擇場次</strong></option>
										<option value=""></option>
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-it">
								<div style="display:block; margin: 0 10%; float:left;">
									<button style="background-color: #233a50; color: #abb7c4;"><a href="order3.html">前往訂票</a></button>
									<button style="background-color: #233a50; color: #abb7c4;"><a href="seat.html">查看座位</a></button>
								</div>
							</div>
						</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container" style="display: block; width: 50%; float: left;">
		<div class="row ipad-width" style="">
			<div class="col-md-9 col-sm-12 col-xs-12">
				<div class="form-style-1 user-pro" action="#">
						<h4>快搜空位</h4>
						<div class="row">
							<div class="col-md-6 form-it">
								<div class="top-search">
									<select>
										<option><strong>請選擇地區</strong></option>
										<option value="">雙北</option>
										<option value="">桃竹苗</option>
										<option value="">中部</option>
										<option value="">南部</option>
										<option value="">東部</option>
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-it">
								<div class="top-search">
									<select>
										<option><strong>請選擇影片</strong></option>
										<option value=""></option>
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-it">
								<div class="top-search">
									<select>
										<option><strong>請選擇日期</strong></option>
										<option value=""></option>
									</select>
								</div>
							</div>
							<div class="col-md-6 form-it">
								<div class="top-search">
									<select>
										<option><strong>幾人</strong></option>
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-it">
								<div class="top-search">
									<select>
										<option><strong>時段(起)</strong></option>
										<option value="06:00">06:00 AM</option>
										<option value="07:00">07:00 AM</option>
										<option value="08:00">08:00 AM</option>
										<option value="09:00">09:00 AM</option>
										<option value="10:00">10:00 AM</option>
										<option value="11:00">11:00 AM</option>
										<option value="12:00">12:00 PM</option>
										<option value="13:00">01:00 PM</option>
										<option value="14:00">02:00 PM</option>
										<option value="15:00">03:00 PM</option>
										<option value="16:00">04:00 PM</option>
										<option value="17:00">05:00 PM</option>
										<option value="18:00">06:00 PM</option>
										<option value="19:00">07:00 PM</option>
										<option value="20:00">08:00 PM</option>
										<option value="21:00">09:00 PM</option>
										<option value="22:00">10:00 PM</option>
										<option value="23:00">11:00 PM</option>
										<option value="00:00">00:00 AM</option>
										<option value="01:00">01:00 AM</option>
										<option value="02:00">02:00 AM</option>
										<option value="03:00">03:00 AM</option>
										<option value="04:00">04:00 AM</option>
										<option value="05:00">05:00 AM</option>
									</select>
								</div>
							</div>
							<div class="col-md-6 form-it">
								<div class="top-search">
									<select>
										<option><strong>時段(迄)</strong></option>
										<option value="06:00">06:00 AM</option>
										<option value="07:00">07:00 AM</option>
										<option value="08:00">08:00 AM</option>
										<option value="09:00">09:00 AM</option>
										<option value="10:00">10:00 AM</option>
										<option value="11:00">11:00 AM</option>
										<option value="12:00">12:00 PM</option>
										<option value="13:00">01:00 PM</option>
										<option value="14:00">02:00 PM</option>
										<option value="15:00">03:00 PM</option>
										<option value="16:00">04:00 PM</option>
										<option value="17:00">05:00 PM</option>
										<option value="18:00">06:00 PM</option>
										<option value="19:00">07:00 PM</option>
										<option value="20:00">08:00 PM</option>
										<option value="21:00">09:00 PM</option>
										<option value="22:00">10:00 PM</option>
										<option value="23:00">11:00 PM</option>
										<option value="00:00">00:00 AM</option>
										<option value="01:00">01:00 AM</option>
										<option value="02:00">02:00 AM</option>
										<option value="03:00">03:00 AM</option>
										<option value="04:00">04:00 AM</option>
										<option value="05:00">05:00 AM</option>
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-it">
								<div style="display:block; margin: 0 0 0 10%;">
									<button style="background-color: #233a50; color: #abb7c4;"><a href="order3.html">前往訂票</a></button>
								</div>
							</div>
						</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- footer section-->
<footer class="ht-footer">
	<div class="container">
		<div class="flex-parent-ft">
			<div class="flex-child-ft item1">
			</div>
			<div class="flex-child-ft item2">
			</div>
			<div class="flex-child-ft item3">
			</div>
			<div class="flex-child-ft item4">
			</div>
			<div class="flex-child-ft item5">
			</div>
		</div>
	</div>
	<div class="ft-copyright">
		<div class="ft-left">
			<p><a target="_blank">Veishow</a></p>
		</div>
		<div class="backtotop">
			<p><a href="#" id="back-to-top">Back to top  <i class="ion-ios-arrow-thin-up"></i></a></p>
		</div>
	</div>

<script src="js/jquery.js"></script>
<script src="js/plugins.js"></script>
<script src="js/plugins2.js"></script>
<script src="js/custom.js"></script>
</body>


</html>
