<!-- templates/index.html -->
{% extends "base.html" %}

{% block navigation %}
    {{ super() }}
{% endblock navigation %}

{% block content %}
<div class="hero user-hero" >
	<div class="container">
		<div class="row" >
			<div class="col-md-12">
			</div>
		</div>
	</div>
</div>
<div class="page-single">
	<div class="container" style="display: block;">
		<div class="row ipad-width">
			<div class="col-md-9 col-sm-12 col-xs-12">
				<div class="form-style-1 user-pro" action="#">
					<div class="row">
						<h4>快速訂票</h4>
						<form action="/order3" method="post">
						{{ form.hidden_tag() }}
						<div class="row">
							<div class="col-md-6 form-it">
								<div class="top-search">
									{{ form.cinemas(class_="form-control") }}
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-it">
								<div class="top-search">
									<select class="form-control" id="movies" name="movies" required>
										<option value="" disabled selected><strong>請選擇影片</strong></option>
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-it">
								<div class="top-search">
									<select class="form-control" id="dates" name="dates" required>
										<option value="" disabled selected><strong>請選擇日期</strong></option>
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-it">
								<div class="top-search">
									<select class="form-control" id="times" name="session_id" required>
										<option value="" disabled selected><strong>請選擇場次</strong></option>
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-it">
								<div style="display:block; margin: 0 10%; float:left;">
									<button type="submit" style="background-color: #233a50; color: #abb7c4;">前往訂票</button>
									<button type="button" style="background-color: #233a50; color: #abb7c4;" id="seat"><a href="#">查看座位</a></button>
								</div>
							</div>
						</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}

{% block footer %}
	{{ super() }}
{% endblock footer %}

{% block script %}
	{{ super() }}
	<script>
        let cinemas = document.getElementById('cinemas');
        let movies = document.getElementById('movies');
		let dates = document.getElementById('dates');
		let times = document.getElementById('times');

        let initial = {{ initial|tojson }}

        value1 = initial[3];
        fetch('/movie_choice?cinema=' + value1).then(function(response){

            response.json().then(function(data){
                let optionHTML = '<option value="" disabled selected><strong>請選擇影片</strong></option>';

				for(let opt of data.movies){
					optionHTML += '<option value ="'  + opt + '">' + opt + '</option>';
				}

				movies.innerHTML = optionHTML;

            });
        });

        cinemas.onchange = function(){
            value1 = cinemas.value;

            fetch('/movie_choice?cinema=' + value1).then(function(response){

                response.json().then(function(data){
                    let optionHTML = '<option value="" disabled selected><strong>請選擇影片</strong></option>';

                    for(let opt of data.movies){
                        optionHTML += '<option value ="'  + opt + '">' + opt + '</option>';
                    }

                    movies.innerHTML = optionHTML;
					dates.innerHTML = '<option value="" disabled selected><strong>請選擇日期</strong></option>';
					times.innerHTML = '<option value="" disabled selected><strong>請選擇場次</strong></option>';
					let seat = document.getElementById('seat')
					seat.innerHTML = '<a href="#">查看座位</a>'
                });
            });
        }

		movies.onchange = function(){
            value1 = cinemas.value;
			value2 = movies.value;

            fetch('/date_choice?cinema=' + value1 + '&movie=' + value2).then(function(response){

                response.json().then(function(data){
                    let optionHTML = '<option value="" disabled selected><strong>請選擇日期</strong></option>';

                    for(let opt of data.dates){
                        optionHTML += '<option value ="'  + opt + '">' + opt + '</option>';
                    }

                    dates.innerHTML = optionHTML;
					times.innerHTML = '<option value="" disabled selected><strong>請選擇場次</strong></option>';
					let seat = document.getElementById('seat')
					seat.innerHTML = '<a href="#">查看座位</a>'
                });
            });
        }

		dates.onchange = function(){
            value1 = cinemas.value;
			value2 = movies.value;
			value3 = dates.value;

            fetch('/time_choice?cinema=' + value1 + '&movie=' + value2 + '&date=' + value3).then(function(response){

                response.json().then(function(data){
                    let optionHTML = '<option value="" disabled selected><strong>請選擇場次</strong></option>';

                    for(let opt of data.times){
                        optionHTML += '<option value ="'  + opt[0] + '">' + opt[1] + '</option>';
                    }

                    times.innerHTML = optionHTML;
					let seat = document.getElementById('seat')
					seat.innerHTML = '<a href="#">查看座位</a>'
                });
            });
        }

		times.onchange = function(){
			value = times.value
			let seat = document.getElementById('seat')
			seat.innerHTML = '<a target="_blank" href=/seat?ID=' + value + '>查看座位</a>'
		}

	</script>
{% endblock script %}
