<!-- templates/index.html -->
{% extends "base.html" %}

{% block style %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/plugins.css') }}">
{% endblock style %}

{% block navigation %}
    {{ super() }}
{% endblock navigation %}

{% block content %}
<body>
<!--preloading-->
<div id="preloader">
    <img class="logo" src="{{ url_for('static', filename='images/logo1.png') }}" alt="" width="119" height="58">
    <div id="status">
        <span></span>
        <span></span>
    </div>
</div>
<!--end of preloading-->

<div class="hero user-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">
					<h1>登入會員</h1>
					<ul class="breadcumb">
						<li class="active"><a href="#">首頁</a></li>
						<li> <span class="ion-ios-arrow-right"></span>登入會員</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="page-single">
	<div class="container">
		<div class="row ipad-width">
			<div class="col-md-9 col-sm-12 col-xs-12">
				<div class="form-style-1 user-pro" action="#">
					<form action="{{ url_for('login', next=next) }}" method="post">
						<div class="row">
							<div class="col-md-6 form-it">
								<label>網路帳號信箱</label>
								<input type="text" id="account" name="account" placeholder="Larry@gmail.com">
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>網路帳號密碼</label>
								<input type="text" id="password" name="password" placeholder="********">
							</div>
							<div class="row">
						</div>
						<div class="row">
							<div class="col-md-2">
								<div style="color:red;"> {{ errorMsg|safe }} </div>
								<button type="submit" class="btn btn-outline-warning button" style="width: 200px;">登入</button>
							</div>
						</div>
                        <div class="row">
							<div class="col-md-2">
								<a class="loginbutton" href="forgetpassward.html" >忘記密碼</a>
							</div>
                            <div class="col-md-2" >
								<a class="loginbutton" href="register.html" >註冊</a>
							</div>
						</div>	
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}

{% block footer %}
	{{ super() }}
{% endblock footer %}

{% block script %}
	{{ super() }}
{% endblock script %}