<!-- templates/index.html -->
{% extends "base.html" %}

{% block style %}
	<style>
		.movieitem{
		display: block;
		margin: 0 10% 0 5%;
		}
		.movieitem figure img{
		display: block;
		width: 250px;
		}
		.movieiteminfo{
		max-width: 80%;
		display: block;
		margin: 3% 3% 0 2% ;
		}
	</style>
{% endblock style %}

{% block navigation %}
    {{ super() }}
{% endblock navigation %}

{% block content %}
<!--雙北-->
	<div class="hero user-hero">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="hero-ct">
						<h1>熱售中</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<diV style="display: block;">
		<div class="container" style="color: #f1f1f1; background-color:#020d18; width: 80%;">
			<div>
				<div>
					<table>
						{% for movie_pair in movies %}
						<tr>
							<td>
								<div class="movieitem">
									<figure class="movieitem_img">
										<a href="/movieintro?name={{ movie_pair[0][0] }}">
											<img src="{{ url_for('static', filename = movie_pair[0][2]) }}" alt="">
										</a>
									</figure>
									<div class="movieiteminfo">
										<h2>
											<a href="/movieintro?name={{ movie_pair[0][0] }}">{{ movie_pair[0][0] }}</a>
										</h2>
										<h3>
											<a href="/movieintro?name={{ movie_pair[0][0] }}">{{ movie_pair[0][1] }}</a>
										</h3>
									</div>
								</div>
							</td>
							{% if movie_pair[1] %}
							<td>
								<div class="movieitem">
									<figure class="movieitem_img">
										<a href="/movieintro?name={{ movie_pair[1][0] }}">
											<img src="{{ url_for('static', filename = movie_pair[1][2]) }}" alt="">
										</a>
									</figure>
									<div class="movieiteminfo">
										<h2>
											<a href="/movieintro?name={{ movie_pair[1][0] }}">{{ movie_pair[1][0] }}</a>
										</h2>
										<h3>
											<a href="/movieintro?name={{ movie_pair[1][0] }}">{{ movie_pair[1][1] }}</a>
										</h3>
									</div>
								</div>
							</td>
							{% endif %}
						</tr>
						{% endfor %}
					</table>
				</div>
			</div>
		</div>
	</diV>
{% endblock content %}

{% block footer %}
	{{ super() }}
{% endblock footer %}

{% block script %}
	{{ super() }}
{% endblock script %}