<!-- templates/index.html -->
{% extends "base.html" %}

{% block style %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/plugins.css') }}">
	<style>
		.tab {
		  overflow: hidden;
		  border: 1px  #ccc;
		  background-color: #020d18;
		}
			.tab button {
		  background-color: inherit;
		  float: left;
		  border: none;
		  outline: none;
		  cursor: pointer;
		  padding: 14px 16px;
		  transition: 0.3s;
		  font-size: 17px;
		}
		
		/* Change background color of buttons on hover */
		.tab button:hover {
		  background-color: #abb7c4;
		}
		
		/* Create an active/current tablink class */
		.tab button.active {
		  background-color: #233a50;
		}
		
		/* Style the tab content */
		.tabcontent {
		  display: none;
		  padding: 6px 12px;
		  -webkit-animation: fadeEffect 1s;
		  animation: fadeEffect 1s;
		}
		
		/* Fade in tabs */
		@-webkit-keyframes fadeEffect {
		  from {opacity: 0;}
		  to {opacity: 1;}
		}
		#accordion {
			color: #f1f1f1;
		}
	</style>
{% endblock style %}

{% block navigation %}
    {{ super() }}
{% endblock navigation %}

{% block content %}
<div class="hero mv-single-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
			</div>
		</div>
	</div>
</div>
<div class="page-single movie-single movie_single">
	<div class="container">
		<div class="row ipad-width2">
			<div class="col-md-4 col-sm-12 col-xs-12">
				<div class="movie-img sticky-sb">
					<img src="{{ url_for('static', filename = info['movie_poster'][0]) }}" alt="">
				</div>
			</div>
			<div class="col-md-8 col-sm-12 col-xs-12">
				<div class="movie-single-ct main-content">
					<h1 class="bd-hd">{{ info['movie_name'] }} <br><span>{{ info['movie_englishname'][0] }}</span></h1>
					<div class="movie-tabs">
						<div class="tabs">
							<ul class="tab-links tabs-mv">
								<li class="active"><a href="#overview">Overview</a></li>                  
							</ul>
						    <div class="tab-content">
						        <div id="overview" class="tab active">
						            <div class="row">
						            	<div class="col-md-8 col-sm-12 col-xs-12">
						            		<p>{{ info['movie_info'][0] }} </p>
						            		<div class="title-hd-sm">
												<h4>trailers</h4>
											</div>
											<div class="mvsingle-item ov-item">
                                                <div class="vd-it">
													<img class="vd-img" src="{{ url_for('static', filename = info['movie_poster'][0]) }}" alt="" style="width: 100%;">
													<a class="fancybox-media hvr-grow" href="{{ info['movie_videos'][0] }}"><img src="{{ url_for('static', filename = 'images/uploads/play-vd.png') }}" alt=""></a>
												</div>
											</div>
						            	</div>
						            	<div class="col-md-4 col-xs-12 col-sm-12">
						            		<div class="sb-it">
						            			<h6>Director: </h6>
						            			<p><a href="#">{{ info['movie_director'][0] }} </a></p>
						            		</div>
						            		<div class="sb-it">
						            			<h6>Stars: </h6>
						            			<p><a href="#">{{ info['movie_actor'][0] }}</a></p>
						            		</div>
						            		<div class="sb-it">
						            			<h6>Genres:</h6>
						            			<p><a href="#">{{ info['movie_type'][0] }}</a></p>
						            		</div>
						            		<div class="sb-it">
						            			<h6>Run Time:</h6>
						            			<p>{{ info['movie_time'][0] }}</p>
						            		</div>
						            	</div>
						            </div>
						        </div>
						    </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="Info" >
	<div class="time_container">
		<div>
			<div>
				<div >
					<div>
						<h1>電影場次</h1>
						<div class="tab">
							{% for cinema in cinemas %}
							<button class="tablinks" onclick="openCity(event, '{{ cinema[0] }}')">{{ cinema[0] }}</button>
							{% endfor %}
						</div>
						{% for cinema in cinemas %}
						{% if cinema == cinemas[0] %}
						<div id="{{ cinema[0] }}" class="tabcontent" style="display: block;">
						{% else %}
						<div id="{{ cinema[0] }}" class="tabcontent">
						{% endif %}
							{% for date in dates %}
							<table>
								<thead>
									<h3>{{ date[0] }}</h3>
								</thead>
								<tbody>
									{% for version in versions %}
									{% if sessions[cinema][date][version] %}
									<tr>
										<td>
											<a>{{ version[0] }}</a>
										</td>
									</tr>
									<tr>
										{% for time in sessions[cinema][date][version] %}
										<td>
											<div>
												<a href="order3.html">{{ time[0] }}</a>
												<a href="/seat?ID={{ time[1] }}"  target="_blank"><img src="{{ url_for('static', filename = 'images/logo1.png') }}"></a>
											</div>
										</td>
										{% endfor %}
									</tr>
									{% endif %}
									{% endfor %}
								</tbody>
							</table>
							{% endfor %}
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}

{% block footer %}
	{{ super() }}
{% endblock footer %}

{% block script %}
	{{ super() }}
	<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
	<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
	<script>
		function openCity(evt, cityName) {
		  var i, tabcontent, tablinks;
		  tabcontent = document.getElementsByClassName("tabcontent");
		  for (i = 0; i < tabcontent.length; i++) {
			tabcontent[i].style.display = "none";
		  }
		  tablinks = document.getElementsByClassName("tablinks");
		  for (i = 0; i < tablinks.length; i++) {
			tablinks[i].className = tablinks[i].className.replace(" active", "");
		  }
		  document.getElementById(cityName).style.display = "block";
		  evt.currentTarget.className += " active";
		}
	</script>
{% endblock script %}