<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<!-- Basic need -->
	<title>Open Pediatrics</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#">
	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no">
	<!-- CSS files 	-->
	<link rel="stylesheet" href="css/style.css">
</head>

<style>

</style>

<body style="background-color:#020d18;">
<!-- BEGIN | Header -->

<header class="ht-header">
    <div class="container">
        <nav class="navbar navbar-default navbar-custom">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header logo">
                <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <div id="nav-icon1">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <a href="index.html"><img class="logo" src="images/logo1.png" alt="" width="119" height="58"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav flex-child-menu menu-left">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                </ul>
                <ul class="nav navbar-nav flex-child-menu menu-right">
                    <li><a href="theater.html">影城介紹</a></li>
                    <li><a href="movies.html">電影介紹</a></li>
                    <li><a href="order.html">前往訂票</a></li>
                    <li><a href="ticket_record.html">訂票紀錄</a></li>						
                    <li><a href="member_service.html">會員服務</a></li>
                    <li><a href="index.html">會員登出</a></li>
                </ul>
            </div>
            
        <!-- /.navbar-collapse -->
        </nav>
    <!-- top search form -->
    </div>
    
</header>

<div class="hero user-hero" >
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="ord3_note1">
                    <li>請注意！威秀影城絕不會要求顧客至 ATM操作解除分期或補繳金額，請貴賓提高警覺避免受騙。威秀影城與您一起防範詐騙；歡迎致電影城查詢更多反詐騙資訊。</li><br>
                    <br><li>全台威秀影城採取防疫消毒流程！</li><br>
                    <li>觀影需全程配戴口罩！防疫升級安心觀影，感謝您的配合。</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<diV style="display: block;">
    <div class="container">
        <div>
            <table id="pay_choice">
                <tr>
                    <td>
                        <a href="order4.html" style="outline: none; color: #333; ">
                            <h1>線上即時付款</h1>
                            <h2>一般 / 銀行優惠 / iShow會員票種</h2>
                            <h2>GENERAL / BANK PRIVILEGE TICKET / iShow SVC DISCOUNT TICKET</h2>
                        </a>
                    </td>
                    <td>
                        <a href="order4.html" style="outline: none; color: #333;">
                            <h1>影城臨櫃付款</h1>
                            <h2>團體優待票券 / 愛心票 / 敬老票 / 免費兌換券</h2>
                            <h2>CORPORATE MOVIE MONEY / DISABILITY TICKET / ELDERLY TICKET / READMISSION</h2>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</diV>


<diV style="display: block;">
    <div class="container">
        <div>
            <div  class="ord3_note2">
                <h3>注意事項</h3>
                <ul>
                    <li>一般電影票種 / 銀行優惠票種將於交易後，立即由您的信用卡帳戶中進行扣款。</li>
                    <li>iShow會員票種每日訂票張數以 10 張為限，於交易後立即由您的儲值金中進行扣款。</li>
                    <li>「團體優待票券 / 愛心票 / 敬老票」無法和「一般電影票種 / 銀行優惠/ iShow會員票種」同時訂票，請分次訂購。</li>
                    <li>銀行優惠票種與iShow會員票種無法於同筆訂單中，請分次訂購，唯兩筆訂票無法保證座位。</li>
                    <li>為維護顧客權益，惡意佔位或影響他人正常訂位使用者，威秀影城保有調整或取消訂位之權利。</li>
                </ul>
            </div>
        </div>
    </div>
</diV>

<footer class="ht-footer">
	<div class="container">
		<div class="flex-parent-ft">
			<div class="flex-child-ft item1">
			</div>
			<div class="flex-child-ft item2">
			</div>
			<div class="flex-child-ft item3">
			</div>
			<div class="flex-child-ft item4">
			</div>
			<div class="flex-child-ft item5">
			</div>
		</div>
	</div>
	<div class="ft-copyright">
		<div class="ft-left">
			<p><a target="_blank">Veishow</a></p>
		</div>
		<div class="backtotop">
			<p><a href="#" id="back-to-top">Back to top  <i class="ion-ios-arrow-thin-up"></i></a></p>
		</div>
	</div>
</footer>

</body>