<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<!-- Basic need -->
	<title>Open Pediatrics</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#">
	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no">
	<!-- CSS files 	-->
	<link rel="stylesheet" href="css/style.css">
</head>

<style>
.order_note{
    list-style-type:decimal;
    color: #f1f1f1;
    font-size: 20px;
}
</style>

<body style="background-color:#020d18;">
<!-- BEGIN | Header -->

<!-- BEGIN | Header -->
<header class="ht-header">
    <div class="container">
        <nav class="navbar navbar-default navbar-custom">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header logo">
                <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <div id="nav-icon1">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <a href="index.html"><img class="logo" src="images/logo1.png" alt="" width="119" height="58"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav flex-child-menu menu-left">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                </ul>
                <ul class="nav navbar-nav flex-child-menu menu-right">
                    <li><a href="theater.html">影城介紹</a></li>
                    <li><a href="movies.html">電影介紹</a></li>
                    <li><a href="order.html">前往訂票</a></li>
                    <li><a href="ticket_record.html">訂票紀錄</a></li>						
                    <li><a href="member_service.html">會員服務</a></li>
                    <li><a href="index.html">會員登出</a></li>
                </ul>
            </div>
            
        <!-- /.navbar-collapse -->
        </nav>
        <div id="topoption"  style="display: block; margin: 20px 0 20px 0;">
            <select onchange="location = this.value;" style="width: 50%; margin: 0 25%;">
                <option value="order.html">請選擇影城</option>
                <option value="order1.html">台北信義威秀影城</option>
                <option value="order1.html">台北信義威秀影城</option>
                <option value="order1.html">台北信義威秀影城</option>
            </select>
        </div>
    <!-- top search form -->
    </div>
    
</header>

    <div class="hero user-hero">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="hero-ct">
						<h1>訂票注意事項</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<diV style="display: block;">
		<div class="container">
			<div>
				<div>
                    <ul class="order_note">
                        <li>「團體優待票券/愛心票/敬老票」無法與「一般/銀行優惠/iShow會員票種」同時訂票，請分次訂購。
                            EX：要訂1張團體優待票券與1張全票。須於『團體優待票券/愛心票/敬老票』訂票系統先訂團體優待票
                            券後，再使用『一般/銀行優惠/iShow會員票種.線上即時付款』訂票系統訂全票，唯兩筆訂票無法保證座位。</li>
                        <li>銀行優惠票種與iShow會員票種無法於同筆訂單中，請分次訂購，唯兩筆訂票無法保證座位。</li>
                        <li>銀行購票優惠即日起可於網路訂票系統進行預訂。網路預訂以電影播放日期為準，而非以刷卡日計算，
                            每卡每日購買張數限制依影片類型、單日購票張數相關規定限制。</li>
                        <li>未滿２歲且不佔位之兒童無需購票可免費入場觀賞【普遍級】影片，每位兒童需由至少一位已購票之成人陪伴。</li>
                        <li>需佔位或２歲以上未滿１２歲之兒童；需購買優待票。</li>
                        <li>購票完成可至超商進行取票，若交易內含餐飲品項，須至購票影城臨櫃領取電影票與餐點。</li>
                        <li>網路訂票每張票需加收 NT$20 手續費。</li>
                        <li>片長 150分鐘(含)以上之電影需加價NT$10，每增加30分鐘需另再加價NT$10。</li>
                        <li>為維護顧客權益，惡意佔位或影響他人正常訂位使用者，威秀影城保有調整或取消訂位之權利。</li>
                    </ul>
				</div>
			</div>
		</div>
	</diV>
    <div class="hero user-hero">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="hero-ct">
						<h1>場次開放時間說明</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<diV style="display: block;">
		<div class="container" >
			<div>
				<div>
                    <ul class="order_note">
                        <li>週五上映之電影，新場次公布於每週三中午12:00~下午18:00，開放未來一週(即當週的星期五至下週星期四為止)之場次。</li>
                        <li>週三上映之電影，新場次公布於每週一晚上20:00~22:00，開放週三、週四之場次。</li>
                        <li>週四上映之電影，新場次公布於每週二晚上20:00~22:00，開放週四之場次。</li>
                        <li>其他因預售活動或特殊假期、特殊開片日之電影，將另行公告場次開放時間。</li>
                    </ul>
				</div>
			</div>
		</div>
	</diV>

<!-- footer section-->
<footer class="ht-footer">
<div class="container">
    <div class="flex-parent-ft">
        <div class="flex-child-ft item1">
        </div>
        <div class="flex-child-ft item2">
        </div>
        <div class="flex-child-ft item3">
        </div>
        <div class="flex-child-ft item4">
        </div>
        <div class="flex-child-ft item5">
        </div>
    </div>
</div>
<div class="ft-copyright">
    <div class="ft-left">
        <p><a target="_blank">Veishow</a></p>
    </div>
    <div class="backtotop">
        <p><a href="#" id="back-to-top">Back to top  <i class="ion-ios-arrow-thin-up"></i></a></p>
    </div>
</div>
</footer>
<!-- end of footer section-->
<script src="js/jquery.js"></script>
<script src="js/plugins.js"></script>
<script src="js/plugins2.js"></script>
<script src="js/custom.js"></script>
</body>


</html>
