<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<!-- Basic need -->
	<title>Open Pediatrics</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#">
	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no">
	<!-- CSS files 	-->
	<link rel="stylesheet" href="css/style.css">
    <!-- javascript -->
    <script type="text/javascript">
        $(document).ready(function(){
            console.log("ready");
            $(".checkpoint").each(function(){
                $(this).click(function(){
                    console.log("value ="+$(this).val());
                });
            });
        });
    </script>
</head>

<style>
</style>

<body style="background-color:#020d18;">
<!-- BEGIN | Header -->

<header class="ht-header">
    <div class="container">
        <nav class="navbar navbar-default navbar-custom">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header logo">
                <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <div id="nav-icon1">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <a href="index.html"><img class="logo" src="images/logo1.png" alt="" width="119" height="58"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav flex-child-menu menu-left">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                </ul>
                <ul class="nav navbar-nav flex-child-menu menu-right">
                    <li><a href="theater.html">影城介紹</a></li>
                    <li><a href="movies.html">電影介紹</a></li>
                    <li><a href="order.html">前往訂票</a></li>
                    <li><a href="ticket_record.html">訂票紀錄</a></li>						
                    <li><a href="member_service.html">會員服務</a></li>
                    <li><a href="index.html">會員登出</a></li>
                </ul>
            </div>
            
        <!-- /.navbar-collapse -->
        </nav>
    <!-- top search form -->
    </div>
    
</header>

<div class="hero user-hero" >
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="ord3_note1">
                    <li>請注意！威秀影城絕不會要求顧客至 ATM操作解除分期或補繳金額，請貴賓提高警覺避免受騙。威秀影城與您一起防範詐騙；歡迎致電影城查詢更多反詐騙資訊。</li><br>
                    <br><li>全台威秀影城採取防疫消毒流程！</li><br>
                    <li>觀影需全程配戴口罩！防疫升級安心觀影，感謝您的配合。</li>
                </ul>
            </div>
            <div id="order4_title1">
                <h1>一、訂票及取票規定[一般票種]</h1>
            </div>
        </div>
    </div>
</div>
<diV style="display: block;">
    <div class="container" >
        <div>
            <div class="order4_note">
                <ul>
                    <li>每筆訂票張數以 10 張為限。</li>
                    <li>iShow會員票種每日訂票張數以 10 張為限。</li>
                    <li>各銀行優惠票種之張數與折扣金額，請依各銀行信用卡優惠規則為準。銀行優惠票種預訂以電影播放日期為準，非刷卡日計算。每卡每日購買張數限制依影片版本與觀影日期相關規定限制。</li>
                    <li>請注意此交易金額將於購票步驟完成後，即刻於您的信用卡帳戶或儲值金帳戶中進行扣款。</li>
                    <li>銀行優惠票種與iShow會員票種無法於同筆訂單中，請分次訂購，唯兩筆訂票無法保證座位。</li>
                    <li>完成付款後，請憑「訂票序號」至購票影城進行取票。</li>
                    <li>購票完成亦可至超商進行取票，但若交易內含餐飲品項，須至購票影城臨櫃領取電影票與餐點。</li>
                    <li>網路訂票每張票需加收NT$20手續費。</li>
                    <li>片長 150分鐘(含)以上之電影需加價NT$10，每增加30分鐘需另再加價NT$10。</li>
                </ul>
            </div>
        </div>
    </div>
</diV>
<div class="hero user-hero" >
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            </div>
            <div id="order4_title1">
                <h1>二、退換票規定[一般票種]</h1>
            </div>
        </div>
    </div>
</div>
<diV style="display: block;">
    <div class="container" >
        <div>
            <div class="order4_note">
                <ul>
                    <li>線上購票後若已領取電影票，因故無法如期觀影，請於開演前 20 分鐘持未使用之電影票與原訂購之信用卡親至觀影影城辦理退換票。已取票或取餐者，無法進行線上退款。</li>
                    <li>線上購票後若尚未領取電影票，因故無法如期觀影，可於威秀影城官網登入會員訂票紀錄中進行線上退票，電影票最遲應於影片開演2小時前完成線上退票程序。</li>
                    <li>電影票遺失恕不補發，亦無法辦理退換票。線上購票完成後退、換票，訂票手續費恕不退還，且不保證相同座位。</li>
                    <li>因天災或特殊事故取消電影放映時，請於購票場次7日內憑『未使用之原票券』至原購票影城櫃台辦理退換票，影城未營業期間均不收取手續費。</li>
                    <li>退、換票注意事項：若是信用卡付款，則需攜帶購票之信用卡辦理退票（如未攜帶原購票信用卡，恕無法辦理退換票）。</li>
                    <li>其餘未盡事項依影城現場公告為主。</li>
                </ul>
            </div>
        </div>
    </div>
</diV>
<diV style="display: block;">
    <div class="container">
        <table id="ord_agree">
            <thead>
                <label><input type="radio" class = "checkpoint"></input></label><a>我已閱讀並同意上述規定</a>
            </thead>
        </table>
        <table id="ord_button">
                <tr>
                    <td>
                        <a href="order3.html"> 返回票種選擇</a>
                    </td>
                    <td>
                        <a href="book.html">前往訂票</a>        
                    </td>
                </tr>
        </table>
    </div>
</diV>

<footer class="ht-footer">
	<div class="container">
		<div class="flex-parent-ft">
			<div class="flex-child-ft item1">
			</div>
			<div class="flex-child-ft item2">
			</div>
			<div class="flex-child-ft item3">
			</div>
			<div class="flex-child-ft item4">
			</div>
			<div class="flex-child-ft item5">
			</div>
		</div>
	</div>
	<div class="ft-copyright">
		<div class="ft-left">
			<p><a target="_blank">Veishow</a></p>
		</div>
		<div class="backtotop">
			<p><a href="#" id="back-to-top">Back to top  <i class="ion-ios-arrow-thin-up"></i></a></p>
		</div>
	</div>
</footer>

</body>

