<!-- templates/index.html -->
{% extends "base.html" %}

{% block navigation %}
    {{ super() }}
{% endblock navigation %}

{% block content %}
<div class="hero user-hero" >
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="ord3_note1">
                    <li>請注意！威秀影城絕不會要求顧客至 ATM操作解除分期或補繳金額，請貴賓提高警覺避免受騙。威秀影城與您一起防範詐騙；歡迎致電影城查詢更多反詐騙資訊。</li><br>
                    <br><li>全台威秀影城採取防疫消毒流程！</li><br>
                    <li>觀影需全程配戴口罩！防疫升級安心觀影，感謝您的配合。</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div style="display: block;">
    <div class="container">
        <div>
            <table id="pay_choice">
                <tr>
                    <td>
                        <form action="/book" method="post">
                            <input type="hidden" name="session_id" value="{{ session_id }}">
                            <input type="hidden" name="ticket_type" value="general">
                            <button type="submit" style="width:500px;height:100px;background-color:grey;color:#333;text-align: center;">
                                <h1>一般票卷</h1><br><h1>GENERAL TICKET</h1>
                            </button>
                        </form>
                    </td>
                    <td>
                        <form action="/book" method="post">
                            <input type="hidden" name="session_id" value="{{ session_id }}">
                            <input type="hidden" name="ticket_type" value="offer">
                            <button type="submit" style="width:500px;height:100px;background-color:grey;color:#333;text-align: center;">
                                <h1>優待票卷</h1><br><h1>OFFER TICKET</h1>
                            </button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div style="display: block;">
    <div class="container">
        <div>
            <div class="ord3_note2">
                <h3>注意事項</h3>
                <ul>
                    <li>一般電影票種 / 銀行優惠票種將於交易後，立即由您的信用卡帳戶中進行扣款。</li>
                    <li>iShow會員票種每日訂票張數以 10 張為限，於交易後立即由您的儲值金中進行扣款。</li>
                    <li>「團體優待票券 / 愛心票 / 敬老票」無法和「一般電影票種 / 銀行優惠/ iShow會員票種」同時訂票，請分次訂購。</li>
                    <li>銀行優惠票種與iShow會員票種無法於同筆訂單中，請分次訂購，唯兩筆訂票無法保證座位。</li>
                    <li>為維護顧客權益，惡意佔位或影響他人正常訂位使用者，威秀影城保有調整或取消訂位之權利。</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block footer %}
	{{ super() }}
{% endblock footer %}

{% block script %}
	{{ super() }}
{% endblock script %}