<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<!-- Basic need -->
	<title>Open Pediatrics</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#">
	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no">
	<!-- CSS files 	-->
	<link rel="stylesheet" href="css/style.css">
</head>

<style>
</style>

<body style="background-color:#020d18;">
<!-- BEGIN | Header -->
<header class="ht-header">
    <div class="container">
        <nav class="navbar navbar-default navbar-custom">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header logo">
                <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <div id="nav-icon1">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <a href="index.html"><img class="logo" src="images/logo1.png" alt="" width="119" height="58"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav flex-child-menu menu-left">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                </ul>
                <ul class="nav navbar-nav flex-child-menu menu-right">
                    <li><a href="theater.html">影城介紹</a></li>
                    <li><a href="movies.html">電影介紹</a></li>
                    <li><a href="order.html">前往訂票</a></li>
                    <li><a href="ticket_record.html">訂票紀錄</a></li>						
                    <li><a href="member_service.html">會員服務</a></li>
                    <li><a href="index.html">會員登出</a></li>
                </ul>
            </div>
            
        <!-- /.navbar-collapse -->
        </nav>
        <div id="topoption" >
            <select onchange="location = this.value;" style="width: 50%; margin: 0 25%;">
                <option value="order.html">台北信義威秀影城</option>
                <option value="order.html">請選擇影城</option>
                <option value="order1.html">台北信義威秀影城</option>
                <option value="order1.html">台北信義威秀影城</option>
            </select>
        </div>
    <!-- top search form -->
    </div>
    
</header>
    <div class="hero user-hero" >
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="hero-ct">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <diV style="display: block;">
        <div class="container">
            <div>
                <div>
                    <ul class="ord_ticket">
                        <li ><a href="order2.html">(HFR 3D)阿凡達：水之道</a></li>
                        <li ><a href="order2.html">(HFR 3D)阿凡達：水之道</a></li>
                        <li ><a href="order2.html">(HFR 3D)阿凡達：水之道</a></li>
                        <li ><a href="order2.html">(HFR 3D)阿凡達：水之道</a></li>
                        <li ><a href="order2.html">(HFR 3D)阿凡達：水之道</a></li>
                        <li ><a href="order2.html">(HFR 3D)阿凡達：水之道</a></li>
                        <li ><a href="order2.html">(HFR 3D)阿凡達：水之道</a></li>
                        <li ><a href="order2.html">(HFR 3D)阿凡達：水之道</a></li>
                        <li ><a href="order2.html">(HFR 3D)阿凡達：水之道</a></li>
                        <li ><a href="order2.html">(HFR 3D)阿凡達：水之道</a></li>
                        <li ><a href="order2.html">(HFR 3D)阿凡達：水之道</a></li>
                        <li ><a href="order2.html">(HFR 3D)阿凡達：水之道</a></li>
                        <li ><a href="order2.html">(HFR 3D)阿凡達：水之道</a></li>
                        <li ><a href="order2.html">(HFR 3D)阿凡達：水之道</a></li>
                        <li ><a href="order2.html">(HFR 3D)阿凡達：水之道</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </diV>
    <div class="hero user-hero" style="height: auto;">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="hero-ct">
						<div id="movie_title_ch_en">
							<h1>(數位)阿凡達：水之道</h1>
							<h2>(DIG)AVATAR THE WAY OF WATER</h2>
						</div>
                        <div id="movie_title_time">
                            <h3 >片長：3 時 12 分</h3>
                            <h3 >*紅色底時間為完售，請洽現場售票窗口。</h3>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
    <diV style="display: block;">
		<div class="time_container">
			<div>
				<div>
					<table>
                        <thead>
                            <h3>2022 年 12 月 15 日 Thursday</h3>
                        </thead>
						<tbody>
                            <tr>
                                <td>
                                    <div>
                                        <a href="order3.html">8:30</a>
                                        <a href="seat.html"  target="_blank"><img src="images/logo1.png"></a>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <a href="order3.html">9:00</a>
                                        <a href="seat.html"  target="_blank"><img src="images/logo1.png"></a>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <a href="order3.html">9:30</a>
                                        <a href="seat.html"  target="_blank"><img src="images/logo1.png"></a>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <a href="order3.html">10:00</a>
                                        <a href="seat.html"  target="_blank"><img src="images/logo1.png"></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table>
                        <thead>
                            <h3>2022 年 12 月 15 日 Thursday</h3>
                        </thead>
						<tbody>
                            <tr>
                                <td>
                                    <div>
                                        <a href="order3.html">8:30</a>
                                        <a href="seat.html"  target="_blank"><img src="images/logo1.png"></a>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <a href="order3.html">9:00</a>
                                        <a href="seat.html"  target="_blank"><img src="images/logo1.png"></a>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <a href="order3.html">9:30</a>
                                        <a href="seat.html"  target="_blank"><img src="images/logo1.png"></a>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <a href="order3.html">10:00</a>
                                        <a href="seat.html"  target="_blank"><img src="images/logo1.png"></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
					</table>
				</div>
			</div>
		</div>
	</diV>
<!-- footer section-->
<footer class="ht-footer">
    <div class="container">
        <div class="flex-parent-ft">
            <div class="flex-child-ft item1">
            </div>
            <div class="flex-child-ft item2">
            </div>
            <div class="flex-child-ft item3">
            </div>
            <div class="flex-child-ft item4">
            </div>
            <div class="flex-child-ft item5">
            </div>
        </div>
    </div>
    <div class="ft-copyright">
        <div class="ft-left">
            <p><a target="_blank">Veishow</a></p>
        </div>
        <div class="backtotop">
            <p><a href="#" id="back-to-top">Back to top  <i class="ion-ios-arrow-thin-up"></i></a></p>
        </div>
    </div>
    </footer>
    <!-- end of footer section-->
    <script src="js/jquery.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/plugins2.js"></script>
    <script src="js/custom.js"></script>
</body>