<!-- templates/index.html -->
{% extends "base.html" %}

{% block style %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/plugins.css') }}">
{% endblock style %}

{% block navigation %}
	<!--preloading-->
	<div id="preloader">
		<img class="logo" src="{{ url_for('static', filename='images/logo1.png') }}" alt="" width="119" height="58">
		<div id="status">
			<span></span>
			<span></span>
		</div>
	</div>
	<!--end of preloading-->
    {{ super() }}
{% endblock navigation %}

{% block member %}
<!-- top search form -->
<div class="top-search">
	<select name="" onchange="javascript:location.href=this.value;">
		<option><strong>請下拉點選您要的服務</strong></option>
		<option value="/profile">1. 查詢/修改會員資料</option>
		<option value="/forget_password">2. 忘記密碼</option>
		<option value="/ticket_record">3. 訂票紀錄</option>
	</select>
</div>
{% endblock member %}

{% block content %}
<div class="hero user-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">
					<h1>用戶資料&nbsp;</h1>
					<p>&nbsp;</p>
<ul class="breadcumb">
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="page-single">
	<div class="container">
		<div class="row ipad-width">
			<div class="col-md-9 col-sm-12 col-xs-12">
				<div class="form-style-1 user-pro" action="#">
					<form action="#" class="password">
						<h4>用戶資料</h4>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>帳號名稱</label>
								<label>{{ info[2] }}</label>
							</div>
							<div class="col-md-6 form-it">
								<label>點數</label>
								<label>{{ info[6] }}</label>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>電子信箱</label>
								<label>{{ info[3] }}</label>
							</div>
							<div class="col-md-6 form-it">
								<label>信用卡號</label>
								<label>{{ info[7] }}</label>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>生日</label>
								<label>{{ info[5] }}</label>
							</div>
							<div class="col-md-6 form-it">
								<label>手機號碼</label>
								<label>{{ info[4] }}</label>
							</div>
						</div>
					</form>
					<form action="/change_info" class="user" method="post">
						<h4>修改生日、信箱</h4>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>生日</label>
								<input type="date" name="birthday">
							</div>
							<div class="col-md-6 form-it">
								<label>手機號碼</label>
								<input type="text" name="phone">
							</div>
						</div>
						<div class="row">
							<div class="col-md-2">
								<button type="submit" class="submit">變更帳號資訊</button>
							</div>
						</div>
					</form>
					<form action="/change_password" class="user" method="post">
						<h4>修改登入密碼</h4>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>舊密碼</label>
								<input type="password" name="password" required>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>新密碼</label>
								<input type="password" name="new_password" required>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>再輸入一次</label>
								<input type="password" name="password_check" required>
							</div>
						</div>
						<div class="row">
							<div class="col-md-2">
								<button type="submit" class="submit">修改</button>
								<div style="color:red;"> {{ password_errorMsg|safe }} </div>
							</div>
						</div>	
					</form>
					<form action="/change_email" class="user" method="post">
						<h4>修改信箱</h4>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>新信箱</label>
								<input type="email" name="email" required>
							</div>
						</div>
						<div class="row">
							<div class="col-md-2">
								<button type="submit" class="submit">修改</button>
								<div style="color:red;"> {{ email_errorMsg|safe }} </div>
							</div>
						</div>	
					</form>
					<form action="/recharge" class="user" method="post">
						<h4>儲值</h4>
						<h4>獲取點數等於儲值金額的 110%！</h4>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>金額</label>
								<input type="number" min="1" name="point" required>
							</div>
						</div>
						<div class="row">
							<div class="col-md-2">
								<button type="submit" class="submit">確認</button>
							</div>
						</div>	
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}

{% block footer %}
	{{ super() }}
{% endblock footer %}

{% block script %}
	{{ super() }}
{% endblock script %}