<!-- templates/index.html -->
{% extends "base.html" %}

{% block style %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/plugins.css') }}">
    <style>
        .seattable{
            background-color: #7c99b6;
            border:5px solid #020d18;
            text-align: center;
            color: #f1f1f1;
        }
        .unavailable {
            background-color: red;
            border:5px solid #020d18;
            text-align: center;
            color: #f1f1f1;
        }
        .seattable :active{
            color: #000;
        }
        #soldout{
            background-color: red;
            border:5px solid #020d18;
            text-align: center;
        }
        #vacancy{
            background-color: #7c99b6;
            border:5px solid #020d18;
            text-align: center;
        }
        #yourchoice{
            background-color: #233a50;
            border:5px solid #020d18;
            text-align: center;
        }
        .linkbutton {
            border:5px solid #020d18;
        }
        .linkbutton button {
            background-color: #233a50;
            width: 100px;
            height: 50px;
        }
        .linkbutton a{
            font-size: 20px;
            color: #f1f1f1;
        }
        </style>
{% endblock style %}

{% block navigation %}
    {{ super() }}
{% endblock navigation %}

{% block content %}
	<!-- END | Header -->
	<div class="hero user-hero" style="height: auto;">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="hero-ct">
						<div  style="display: block; float: inline-start;">
							<h1>({{ info[7] }}){{ info[1] }}</h1>
							<h2>AVATAR THE WAY OF WATER</h2>
						</div>
						<div style="display: block; float: right; color: #ddd; ">
							<ul>
								<li>{{ info[5] }} {{ info[6] }}</li>
								<li>{{ info[3] }}</li>
								<li>{{ info[4] }}</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<div>
	<div class="container" >
		<div>
			<div>
				<div style="display: block; margin: 0 auto; width: 50%; position: relative;">
                    <div style="text-align:center; background-color:#7c99b6;">
                        <h1>螢幕位置</h1>
                    </div>
                    <table style="border-collapse:collapse; width: 100%; margin: 0 auto;">
                        <tbody>
                            {% for row in rows %}
                            <tr class="line{{ row }}">
                                {% for column in columns %}
                                {% if (row + '-' + column,) in empty_seats %}
                                <td id="{{ row }}{{ column }}" class="seattable">{{ row }}-{{ column }}</td>
                                {% else %}
                                <td id="{{ row }}{{ column }}" class="unavailable">{{ row }}-{{ column }}</td>
                                {% endif %}
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
				</div>
                <table style="width: 25%; margin: 25px 10% ">
                    <tbody>
                        <tr style="color: #f1f1f1;">
                            <td id="soldout">售出</td>
                            <td id="vacancy">空位</td>
                        </tr>
                    </tbody>
                </table>
			</div>
		</div>
	</div>
</div>
{% endblock content %}

{% block footer %}
	{{ super() }}
{% endblock footer %}

{% block script %}
	{{ super() }}
    <script>
		$( function() {
			$( "#accordion" ).accordion({
			collapsible: true
		});
		} );
	</script>
	<script>
		function openCity(evt, cityName) {
		  var i, tabcontent, tablinks;
		  tabcontent = document.getElementsByClassName("tabcontent");
		  for (i = 0; i < tabcontent.length; i++) {
			tabcontent[i].style.display = "none";
		  }
		  tablinks = document.getElementsByClassName("tablinks");
		  for (i = 0; i < tablinks.length; i++) {
			tablinks[i].className = tablinks[i].className.replace(" active", "");
		  }
		  document.getElementById(cityName).style.display = "block";
		  evt.currentTarget.className += " active";
		}
	</script>
{% endblock script %}