<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<!-- Basic need -->
	<title>Open Pediatrics</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#">
	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no">
	<!-- CSS files 	-->
	<link rel="stylesheet" href="css/style.css">
</head>

<body style="background-color:#020d18;">
<!-- BEGIN | Header -->
	<header class="ht-header">
		<div class="container">
			<nav class="navbar navbar-default navbar-custom">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header logo">
					<div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<div id="nav-icon1">
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
					<a href="index.html"><img class="logo" src="images/logo1.png" alt="" width="119" height="58"></a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav flex-child-menu menu-left">
						<li class="hidden">
							<a href="#page-top"></a>
						</li>
					</ul>
					<ul class="nav navbar-nav flex-child-menu menu-right">
						<li><a href="theater.html">影城介紹</a></li>
						<li><a href="movies.html">電影介紹</a></li>
						<li><a href="member_service.html">會員專區</a></li>
						<li><a href="login.html">會員登入</a></li>
					</ul>
				</div>
			<!-- /.navbar-collapse -->
			</nav>
		<!-- top search form -->
		</div>
	</header>
<!--雙北-->
	<div class="hero user-hero">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="hero-ct">
						<h1>雙北</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<diV style="display: block;">
		<div class="container" style="color: #f1f1f1; background-color:#020d18; width: 80%;">
			<div>
				<div>
					<table>
						<tr>
							<td>
								<div class="theateritem">
									<figure class="theateritem_img">
										<a href="cineplex.html">
											<img src="images/vsimg.png" alt="">
										</a>
									</figure>
									<div class="theateriteminfo">
										<h2>
											<a href="cineplex.html">台北信義威秀影城</a>
										</h2>
										<h3>
											<a>Vie Show Cinemas Taipei Hsin Yi</a>
										</h3>
										<p>影城地址：台北市信義區松壽路20號</p>
										<p>服務專線：(02) 8780-5566</p>
									</div>
								</div>
							</td>
							<td>
								<div class="theateritem">
									<figure class="theateritem_img">
										<a href="cineplex.html">
											<img src="images/vsimg.png" alt="">
										</a>
									</figure>
									<div class="theateriteminfo">
										<h2>
											<a href="cineplex.html">台北京站威秀影城</a>
										</h2>
										<h3>
											<a>Vie Show Cinemas Taipei Qsquare</a>
										</h3>
										<p>影城地址：台北市大同區市民大道一段209號5樓</p>
										<p>服務專線：(02) 2552-5511</p>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="theateritem">
									<figure class="theateritem_img">
										<a href="cineplex.html">
											<img src="images/vsimg.png" alt="">
										</a>
									</figure>
									<div class="theateriteminfo">
										<h2>
											<a href="cineplex.html">板橋大遠百威秀影城</a>
										</h2>
										<h3>
											<a>Vie Show Cinemas Banciao Mega City</a>
										</h3>
										<p>影城地址：新北市板橋區新站路28號10樓</p>
										<p>服務專線：(02) 7738-6608</p>
									</div>
								</div>
							</td>
							<td>
								<div class="theateritem">
									<figure class="theateritem_img">
										<a href="cineplex.html">
											<img src="images/vsimg.png" alt="">
										</a>
									</figure>
									<div class="theateriteminfo">
										<h2>
											<a href="cineplex.html">中和環球威秀影城</a>
										</h2>
										<h3>
											<a>Vie Show Cinemas Global Mall</a>
										</h3>
										<p>影城地址：新北市中和區中山路三段122號4樓 (Global Mall新北中和)</p>
										<p>服務專線：(02)8226-6063</p>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="theateritem">
									<figure class="theateritem_img">
										<a href="cineplex.html">
											<img src="images/vsimg.png" alt="">
										</a>
									</figure>
									<div class="theateriteminfo">
										<h2>
											<a href="cineplex.html">林口MITSUI OUTLET PARK威秀影城</a>
										</h2>
										<h3>
											<a>Vie Show Cinemas Linkou Mitsui Outlet Park</a>
										</h3>
										<p>影城地址：新北市林口區文化三路一段356號3樓</p>
										<p>服務專線：(02) 2606-8099</p>
									</div>
								</div>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</diV>
<!--桃竹苗-->
	<div class="hero user-hero">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="hero-ct">
						<h1>桃竹苗</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<diV style="display: block;">
		<div class="container" style="color: #f1f1f1; background-color:#020d18; width: 80%;">
			<div>
				<div>
					<table>
						<tr>
							<td>
								<div class="theateritem">
									<figure class="theateritem_img">
										<a href="cineplex.html">
											<img src="images/vsimg.png" alt="" >
										</a>
									</figure>
									<div class="theateriteminfo">
										<h2>
											<a href="cineplex.html">桃園統領威秀影城</a>
										</h2>
										<h3>
											<a>Vie Show Cinemas Taoyuan Tonlin</a>
										</h3>
										<p>影城地址：桃園市桃園區中正路61號9樓 (統領百貨)</p>
										<p>服務專線：(03) 333-3232</p>
									</div>
								</div>
							</td>
							<td>
								<div class="theateritem">
									<figure class="theateritem_img">
										<a href="cineplex.html">
											<img src="images/vsimg.png" alt="">
										</a>
									</figure>
									<div class="theateriteminfo">
										<h2>
											<a href="cineplex.html">新竹大遠百威秀影城</a>
										</h2>
										<h3>
											<a>Vie Show Cinemas Hsinchu FE21</a>
										</h3>
										<p>影城地址：新竹市西大路323號8樓</p>
										<p>服務專線：(03) 524-1166</p>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="theateritem">
									<figure class="theateritem_img">
										<a href="cineplex.html">
											<img src="images/vsimg.png" alt="">
										</a>
									</figure>
									<div class="theateriteminfo">
										<h2>
											<a href="cineplex.html">新竹巨城威秀影城</a>
										</h2>
										<h3>
											<a>Vie Show Cinemas Hsinchu Big City</a>
										</h3>
										<p>影城地址：新竹市民權路176號4樓之3</p>
										<p>服務專線：(03) 534-6999</p>
									</div>
								</div>
							</td>
							<td>
								<div class="theateritem">
									<figure class="theateritem_img">
										<a href="cineplex.html">
											<img src="images/vsimg.png" alt="">
										</a>
									</figure>
									<div class="theateriteminfo">
										<h2>
											<a href="cineplex.html">頭份尚順威秀影城</a>
										</h2>
										<h3>
											<a>Vie Show Cinemas Toufen Shang Shun Mall</a>
										</h3>
										<p>影城地址：苗栗縣頭份市中央路105號7樓</p>
										<p>服務專線：(037) 686-866</p>
									</div>
								</div>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</diV>
<!--中部-->
	<div class="hero user-hero">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="hero-ct">
						<h1>中部</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<diV style="display: block;">
		<div class="container" style="color: #f1f1f1; background-color:#020d18; width: 80%;">
			<div>
				<div>
					<table>
						<tr>
							<td>
								<div class="theateritem">
									<figure class="theateritem_img">
										<a href="cineplex.html">
											<img src="images/vsimg.png" alt="" >
										</a>
									</figure>
									<div class="theateriteminfo">
										<h2>
											<a href="cineplex.html">台中大遠百威秀影城</a>
										</h2>
										<h3>
											<a>Vie Show Cinemas Taichung Top City</a>
										</h3>
										<p>影城地址：台中市西屯區台灣大道三段251號13樓</p>
										<p>服務專線：(04) 2258-8511</p>
									</div>
								</div>
							</td>
							<td>
								<div class="theateritem">
									<figure class="theateritem_img">
										<a href="cineplex.html">
											<img src="images/vsimg.png" alt="">
										</a>
									</figure>
									<div class="theateriteminfo">
										<h2>
											<a href="cineplex.html">台中TIGER CITY威秀影城</a>
										</h2>
										<h3>
											<a>Vie Show Cinemas Taichung Tiger City</a>
										</h3>
										<p>影城地址：台中市西屯區河南路三段120-1號4樓</p>
										<p>服務專線：(04) 3606-5566</p>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="theateritem">
									<figure class="theateritem_img">
										<a href="cineplex.html">
											<img src="images/vsimg.png" alt="">
										</a>
									</figure>
									<div class="theateriteminfo">
										<h2>
											<a href="cineplex.html">台中大魯閣新時代威秀影城</a>
										</h2>
										<h3>
											<a>Vie Show Cinemas Taichung Taroko Mall</a>
										</h3>
										<p>影城地址：台中市東區復興路四段186號4樓 (台中大魯閣新時代購物中心)</p>
										<p>服務專線：(04)2228-0388</p>
									</div>
								</div>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</diV>
<!--南部-->
	<div class="hero user-hero">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="hero-ct">
						<h1>南部</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<diV style="display: block;">
		<div class="container" style="color: #f1f1f1; background-color:#020d18; width: 80%;">
			<div>
				<div>
					<table>
						<tr>
							<td>
								<div class="theateritem">
									<figure class="theateritem_img">
										<a href="cineplex.html">
											<img src="images/vsimg.png" alt="" >
										</a>
									</figure>
									<div class="theateriteminfo">
										<h2>
											<a href="cineplex.html">台南大遠百威秀影城</a>
										</h2>
										<h3>
											<a>Vie Show Cinemas Tainan FE21</a>
										</h3>
										<p>影城地址：台南市公園路60號5樓</p>
										<p>服務專線：(06) 600-5566</p>
									</div>
								</div>
							</td>
							<td>
								<div class="theateritem">
									<figure class="theateritem_img">
										<a href="cineplex.html">
											<img src="images/vsimg.png" alt="">
										</a>
									</figure>
									<div class="theateriteminfo">
										<h2>
											<a href="cineplex.html">台南FOCUS 威秀影城</a>
										</h2>
										<h3>
											<a>Vie Show Cinemas Tainan Focus Square</a>
										</h3>
										<p>影城地址：台南市中西區中山路166號11樓</p>
										<p>服務專線：(06)-222-3566</p>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="theateritem">
									<figure class="theateritem_img">
										<a href="cineplex.html">
											<img src="images/vsimg.png" alt="">
										</a>
									</figure>
									<div class="theateriteminfo">
										<h2>
											<a href="cineplex.html">台南南紡威秀影城</a>
										</h2>
										<h3>
											<a>Vie Show Cinemas Tainan T.S. Mall</a>
										</h3>
										<p>影城地址：A1館(1~11廳):台南市東區中華東路一段366號5樓A2館(21~25廳):台南市東區中華東路一段358號B1樓</p>
										<p>服務專線：(06) 237-2255</p>
									</div>
								</div>
							</td>
							<td>
								<div class="theateritem">
									<figure class="theateritem_img">
										<a href="cineplex.html">
											<img src="images/vsimg.png" alt="">
										</a>
									</figure>
									<div class="theateriteminfo">
										<h2>
											<a href="cineplex.html">高雄大遠百威秀影城</a>
										</h2>
										<h3>
											<a>Vie Show Cinemas Kaohsiung FE21</a>
										</h3>
										<p>影城地址：高雄市苓雅區三多四路21號13樓 (大遠百購物中心)</p>
										<p>服務專線：(07) 334-5566</p>
									</div>
								</div>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</diV>
<!--東部-->
	<div class="hero user-hero">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="hero-ct">
						<h1>東部</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<diV style="display: block;">
		<div class="container" style="color: #f1f1f1; background-color:#020d18; width: 80%;">
			<div>
				<div>
					<table>
						<tr>
							<td>
								<div class="theateritem">
									<figure class="theateritem_img">
										<a href="cineplex.html">
											<img src="images/vsimg.png" alt="" >
										</a>
									</figure>
									<div class="theateriteminfo">
										<h2>
											<a href="cineplex.html">花蓮新天堂樂園威秀影城</a>
										</h2>
										<h3>
											<a>Vie Show Cinemas Hualien Paradiso</a>
										</h3>
										<p>影城地址：花蓮縣吉安鄉南濱路一段503號3樓 (花蓮新天堂樂園購物商場)</p>
										<p>服務專線：(03) 842-1133</p>
									</div>
								</div>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</diV>

<!-- footer section-->
<footer class="ht-footer">
	<div class="container">
		<div class="flex-parent-ft">
			<div class="flex-child-ft item1">
			</div>
			<div class="flex-child-ft item2">
			</div>
			<div class="flex-child-ft item3">
			</div>
			<div class="flex-child-ft item4">
			</div>
			<div class="flex-child-ft item5">
			</div>
		</div>
	</div>
	<div class="ft-copyright">
		<div class="ft-left">
			<p><a target="_blank">Veishow</a></p>
		</div>
		<div class="backtotop">
			<p><a href="#" id="back-to-top">Back to top  <i class="ion-ios-arrow-thin-up"></i></a></p>
		</div>
	</div>
</footer>
<!-- end of footer section-->
<script src="js/jquery.js"></script>
<script src="js/plugins.js"></script>
<script src="js/plugins2.js"></script>
<script src="js/custom.js"></script>
</body>


</html>