<!-- templates/index.html -->
{% extends "base.html" %}

{% block navigation %}
    {{ super() }}
{% endblock navigation %}

{% block content %}
<!--雙北-->
	<div class="hero user-hero">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="hero-ct">
						<h1>影城列表</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div style="display: block;">
		<div class="container" style="color: #f1f1f1; background-color:#020d18; width: 80%;">
			<div>
				<div>
					<table>
						{% for theater_pair in theaters %}
						<tr>
							<td>
								<div class="theateritem">
									<figure class="theateritem_img">
										<a href="/cineplex?name={{ theater_pair[0][0] }}">
											<img src="{{ url_for('static', filename='images/vsimg.png') }}" alt="">
										</a>
									</figure>
									<div class="theateriteminfo">
										<h2>
											<a href="/cineplex?name={{ theater_pair[0][0] }}">{{ theater_pair[0][0] }}</a>
										</h2>
										<h3>
											<a href="/cineplex?name={{ theater_pair[0][0] }}">Vie Show Cinemas Taipei Hsin Yi</a>
										</h3>
										<p>影城地址：{{ theater_pair[0][1] }}</p>
										<p>服務專線：{{ theater_pair[0][2] }}</p>
									</div>
								</div>
							</td>
							{% if theater_pair[1] %}
							<td>
								<div class="theateritem">
									<figure class="theateritem_img">
										<a href="/cineplex?name={{ theater_pair[1][0] }}">
											<img src="{{ url_for('static', filename='images/vsimg.png') }}" alt="">
										</a>
									</figure>
									<div class="theateriteminfo">
										<h2>
											<a href="/cineplex?name={{ theater_pair[1][0] }}">{{ theater_pair[1][0] }}</a>
										</h2>
										<h3>
											<a href="/cineplex?name={{ theater_pair[1][0] }}">Vie Show Cinemas Taipei Hsin Yi</a>
										</h3>
										<p>影城地址：{{ theater_pair[1][1] }}</p>
										<p>服務專線：{{ theater_pair[1][2] }}</p>
									</div>
								</div>
							</td>
							{% endif %}
						</tr>
						{% endfor %}
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}

{% block footer %}
	{{ super() }}
{% endblock footer %}

{% block script %}
	{{ super() }}
{% endblock script %}