<!-- templates/index.html -->
{% extends "base.html" %}

{% block navigation %}
    {{ super() }}
{% endblock navigation %}

{% block content %}
<!--雙北-->
	<div class="hero user-hero">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="hero-ct">
						<h1>雙北</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div style="display: block;">
		<div class="container" style="color: #f1f1f1; background-color:#020d18; width: 80%;">
			<div>
				<div>
					<table>
						<tr>
							<td>
								<div class="theateritem">
									<figure class="theateritem_img">
										<a href="/cineplex">
											<img src="{{ url_for('static', filename='images/vsimg.png') }}" alt="">
										</a>
									</figure>
									<div class="theateriteminfo">
										<h2>
											<a href="/cineplex">台北信義威秀影城</a>
										</h2>
										<h3>
											<a href="/cineplex">Vie Show Cinemas Taipei Hsin Yi</a>
										</h3>
										<p>影城地址：台北市信義區松壽路20號</p>
										<p>服務專線：(02) 8780-5566</p>
									</div>
								</div>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}

{% block footer %}
	{{ super() }}
{% endblock footer %}

{% block script %}
	{{ super() }}
{% endblock script %}