<!-- templates/index.html -->
{% extends "base.html" %}

{% block style %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/plugins.css') }}">
{% endblock style %}

{% block navigation %}
	<!--preloading-->
	<div id="preloader">
		<img class="logo" src="{{ url_for('static', filename='images/logo1.png') }}" alt="" width="119" height="58">
		<div id="status">
			<span></span>
			<span></span>
		</div>
	</div>
	<!--end of preloading-->
    {{ super() }}
{% endblock navigation %}

{% block member %}
<!-- top search form -->
<div class="top-search">
	<select name="" onchange="javascript:location.href=this.value;">
		<option><strong>請下拉點選您要的服務</strong></option>
		<option value="/profile">1. 查詢/修改會員資料</option>
		<option value="/forget_password">2. 忘記密碼</option>
		<option value="/ticket_record">3. 訂票紀錄</option>
	</select>
</div>
{% endblock member %}

{% block content %}
<div class="hero user-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">
					<h1>訂票紀錄</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="page-single">
	<div class="container">
		<div class="row ipad-width">
			{% for record in records %}
			<div class="col-md-9 col-sm-12 col-xs-12">
				<div class="form-style-1 user-pro" >
					<div class="row">
						<div class="col-md-6 form-it">
                            <div id="record_movie_name">
                                <label>{{ session_infos[record[1]]['movie_name'] }}</label><br>
                                <label>{{ session_infos[record[1]]['movie_eng_name'] }}</label>                                
                            </div>
						</div>
						<div class="col-md-6 form-it">
                            <div id="record_theater">
                                <label>{{ session_infos[record[1]]['cinema_name'] }}</label><br>
                                <label>{{ session_infos[record[1]]['cinema_eng_name'] }}</label>                              
                            </div>
						</div>
					</div>
                    <div class="row">
						<div class="col-md-6 form-it">
                            <div id="record_time">
                                <label>日期 {{ session_infos[record[1]]['date'] }}, {{ session_infos[record[1]]['time'] }}, {{ session_infos[record[1]]['place'] }}</label>                              
                            </div>
						</div>
						<div class="col-md-6 form-it">
                            <div id="record_type">
                                <label>{{ "全票" if record[3] == 0 else "優惠票" }}</label>                              
                            </div>
						</div>
					</div>
                    <div class="row">
						<div class="col-md-6 form-it">
                            <div id="record_seat">
                                <label>訂票座位 {{ session_infos[record[1]]['seats'] }}</label><br>
                                <label>Seat {{ session_infos[record[1]]['seats'] }}</label>  
                                <hr>
                            </div>
						</div>
						<div class="col-md-6 form-it">
                            <div id="record_meal">
                                <label>大爆米花 X {{ record[6] }}</label><br>
								<label>中爆米花 X {{ record[7] }}</label><br>
								<label>小爆米花 X {{ record[8] }}</label><br>
								<label>大飲料 X {{ record[9] }}</label><br>
								<label>中飲料 X {{ record[10] }}</label><br>
								<label>小飲料 X {{ record[11] }}</label>
                            </div>
						</div>
					</div>
                    <div class="row">
						<div class="col-md-6 form-it">
                            <div id="record_amount">
                                <label>總計金額 NT$ {{ record[4] }}</label><br>
                                <label>Amount NT$ {{ record[4] }}</label>
                            </div>
						</div>
						<div class="col-md-6 form-it">
                            <div id="record_amount">
                                <label>使用點數 {{ record[5] }}</label>
                            </div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 form-it">
							<form action="/delete_ticket" method="post">
								<input type="hidden" name="ticket_id" value="{{ record[1] }}">
								<div style="display: block; margin: 5% 0 0 5%;"><button type="submit" style="background-color: #0b1a2a; width: 10%; height: 50px;color: #f1f1f1;">刪除</button></div>
							</form>
						</div>
						<div class="col-md-6 form-it">
							<form action="/modifie_booking" method="post">
								<input type="hidden" name="ticket_id" value="{{ record[1] }}">
								<div style="display: block; margin: 5% 0 0 5%;"><button type="submit" style="background-color: #0b1a2a; width: 10%; height: 50px;color: #f1f1f1;">修改</button></div>
							</form>
						</div>
					</div>
				</div>
            </div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock content %}

{% block footer %}
	{{ super() }}
{% endblock footer %}

{% block script %}
	{{ super() }}
{% endblock script %}