<!-- templates/index.html -->
{% extends "base.html" %}

{% block style %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/plugins.css') }}">
{% endblock style %}

{% block navigation %}
    {{ super() }}
{% endblock navigation %}

{% block content %}
<!--preloading-->
<div id="preloader">
    <img class="logo" src="{{ url_for('static', filename='images/logo1.png') }}" alt="" width="119" height="58">
    <div id="status">
        <span></span>
        <span></span>
    </div>
</div>
<!--end of preloading-->

<div class="hero user-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">
					<h1>信箱驗證</h1>
					<ul class="breadcumb">
						<li class="active"><a href="#">首頁</a></li>
						<li> <span class="ion-ios-arrow-right"></span>信箱驗證</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="page-single">
	<div class="container">
		<div class="row ipad-width">
			<div class="col-md-9 col-sm-12 col-xs-12">
				<div class="form-style-1 user-pro">
					<form action="/verification" method="post">
						<!-- <div class="row">
							<div class="col-md-6 form-it">
								<label>請輸入您的身分證或居留證號碼</label>
								<input type="text" placeholder="A000000000">
							</div>
						</div> -->
						<div class="row">
							<div class="col-md-6 form-it">
								<label>網路帳號信箱</label>
								<input type="email" id="email" name="email" placeholder="Larry@gmail.com" required>
							</div>
							<div class="col-md-6 form-it">
								<label>網路帳號密碼</label>
								<input type="password" id="password" name="password" placeholder="********" required>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>信箱驗證碼</label>
								<input type="text" id="verification_code" name="verification_code" placeholder="********" required>
							</div>
						</div>
						<div class="row">
							<div class="submit" style="text-align:center">
								<div style="color:red;"> {{ errorMsg|safe }} </div>
								<button type="submit" class="btn btn-outline-warning button" style="width: 200px;">送出</button>
							</div>
						</div>	
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}

{% block footer %}
	{{ super() }}
{% endblock footer %}

{% block script %}
	{{ super() }}
{% endblock script %}